agm-map {
  height: 300px;
}

.container {
	display: block;

	background-color: #FAFAFD;

	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 320px) {
	.weather_item {
		font-size: 12px;
		margin-right: 5px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	.weather_item {
		font-size: 16px;
		margin-right: 10px;
	}	
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.mat-button {
	font-family: 'Cinzel', serif;
}

input {
	font-family: 'Cinzel', serif;
}

.weather {
/*	display: flex;
	margin: 0 auto;*/
}

.search_panel {
/*	display: flex;
	margin: 0 auto;	
	justify-content: flex-start;*/
}

.gliph_margin {
	margin-right: 5px;
}

.date_pads {
	font-family: 'Cinzel', serif;
	color: black;
	font-size: 16px;
}
.inside_tab {
	width: 100%;
}

.weather_block {
	background-color: #E5EDF7;
	display: flex;
	flex-direction: row; 
	justify-content: flex-start;
	align-items: center;

}

.weather_item {
	font-family: 'Cinzel', serif;
	color: black;
}

.weather_item_clouds {
	background-color: #D0D3D7;
}

.weather_item_sun {
	background-color: #FBF9BF;
}

.wait_load {
	min-height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.error {
	background-color: #F69898;
	font-size: 19px;
	width: 100%;
	padding: 25px;
	text-align: center;
	color: white;
}

.waring {
	background-color: #F1C93E;
	font-size: 19px;
	width: 100%;
	padding: 25px;
	text-align: center;
	color: white;	
}